/*
 * Main Page Headers
 *
 * Container page
 * <div id="page" class="site"> 
        <h1> class="entry-title">
        ....</h1>
 ... </div>
 */

/*
#page h1.entry-title{
    text-align: center;
    position: relative;
    color:$color-brand-primary;

    &::before {
        position: absolute;
        content: "";
        background: url('https://2019.europe.wordcamp.org/files/2019/02/wceu2019-page-line-left.png');
        width: 213px;
        height: 5px;
        display: block;
        top: 35px;
    }

    &:after {
        position: absolute;
        content: "";
        background: url('https://2019.europe.wordcamp.org/files/2019/02/wceu2019-page-line-right.png');
        width: 213px;
        height: 5px;
        display: block;
        bottom: 20px;
        right: 0;
    }
}
*/