/*
 * Main Page Headers
 *
 * Container page
 * <div id="page" class="site"> 
    <header class="entry-header">
        <h1> class="entry-title">
        ....</h1>
    ...</header>
 ... </div>
 */

.page, .postid-1114, .postid-3478, .postid-3305, .postid-1341 header.entry-header {
  background: url("https://2019.europe.wordcamp.org/files/2019/02/wceu2019_page_line.png");
  background-repeat: repeat-x;
  background-position: left;
}

.page, .postid-1114, .postid-3478, .postid-3305, .postid-1341 h1.entry-title {
  color: $color-brand-primary;
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 0 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  margin-bottom: rem(64);
}