/*
 * Search Page
 *
 */

 
.search-results h2.entry-title {
    color: #db0577;
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    margin-bottom: 4rem;
}