/*
 * Attendees page
 *
 * Experimenting with global style overrides
 */

.page-slug-attendees {

  #content {

    max-width: rem(1400);
    margin-left: auto;
    margin-right: auto;

  }

  .entry-title {

    margin-bottom: $unit-l;
    margin-bottom: rem(64);
    padding-bottom: rem(64);

    text-align: center;
  }
}